{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'css/home.css' %}" rel="stylesheet">
</head>

<style>

</style>
    <body>
        <div class="box-container">
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-1.jpg' %}">
            </div>
            <div class="box-container-img" id="cocina">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-2.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-3.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-4.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-5.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-6.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-7.jpg' %}">
            </div>
            <div class="box-container-img" id="bar">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-8.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-9.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-10.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-11.jpg' %}">
            </div>
            <div class="box-container-img">
                <img class="img-container" src="{% static 'img/carta/carta-granmeson-12.jpg' %}">
            </div>
        </div>
        <div class="box-boton">
            <div class="box-boton-detail">
                <a href="#cocina" class=""><img class="img-box-icon" src="{% static 'img/menuicon/icons-01.svg' %}" ></a>
            </div>
            <div class="box-boton-detail">
                <a href="#bar" class=""><img class="img-box-icon" src="{% static 'img/menuicon/icons-02.svg' %}" ></a>
            </div>

        </div>
    </body> 
</html>